body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 200vh; /* Increase the height to make scrolling noticeable */
    perspective: 1000px; /* Add perspective to enable 3D effect */
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.profile-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

h1 {
    margin: 0;
}

.section {
    padding: 100px 20px;
    margin-top: 180px; /* Adjusted to allow space for fixed header */
    text-align: center;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    opacity: 0; /* Set opacity to 0 initially for animation */
}

#about {
    background-color: #3498db;
    color: white;
}

#education {
    background-color: #2ecc71;
}

#projects {
    background-color: #9b59b6;
}

#contact {
    background-color: #f39c12;
}

footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #ecf0f1;
    text-decoration: none;
}

/* Adding 3D transform style to sections */
.section {
    transform-style: preserve-3d;
}
